# Dependency directories
node_modules/
code/jspm_packages/

# Build directories
dist/

# build environment information
src/environments/versions.ts

# editor settings
.idea
/.project

nbproject/*
src/.DS_Store
.DS_Store
