# Dependency directories
node_modules/
code/jspm_packages/

# Build directories
dist/

# build environment information
src/environments/versions.ts

# editor settings
.idea
/.project
.history

nbproject/*
src/.DS_Store
.DS_Store
/npm_pm_2*.log
.envrc
shell.nix
.vscode
