<mat-tab-group>
  <mat-tab class="tab-content" label="{{'menu.tab_info' | translate}}">
    <div class="tab-content">

      <p translate>about.description</p>
      <h3 translate>about.source_code</h3>
      <h4>proximap</h4>
      <a href="https://github.com/water-fountains/proximap/" target="_blank">github.com/mmmatthew/proximap</a> <a href='https://semaphoreci.com/water-fountains/proximap'> <img src='https://semaphoreci.com/api/v1/water-fountains/proximap/branches/develop/shields_badge.svg' alt='Build Status'></a>
      <h4>datablue</h4>
      <a href="https://github.com/water-fountains/datablue/" target="_blank">github.com/mmmatthew/datablue</a> <a href='https://semaphoreci.com/water-fountains/datablue'> <img src='https://semaphoreci.com/api/v1/water-fountains/datablue/branches/develop/shields_badge.svg' alt='Build Status'></a>
      <h3 translate>about.sponsors</h3>
      <a href="https://my-d.org/" target="_blank"><img src="/assets/sponsors_my-d.png"></a>
      <p translate>about.myd</p>
      <a href="https://my-d.org/" target="_blank">my-d.org</a>
      <h3 translate>about.version_information</h3>
      <code class="version-info">revision <a href="{{versionInfo.url}}" target="_blank">{{versionInfo.shorthash}}</a> committed {{versionInfo.time | date:'medium'}}</code>
    </div>
  </mat-tab>
  <mat-tab class=".tab-content" label="{{'menu.tab_settings' | translate}}">
    <div class="tab-content">
      <app-language-selector></app-language-selector>
    </div>
  </mat-tab>
  <!--<mat-tab label="Third"> Content 3 </mat-tab>-->
</mat-tab-group>

