<button mat-stroked-button
        [matBadge]="((f|async).properties[pName].value == null || (f|async).properties[pName].value == '' || (f|async).properties[pName].comment !== '')?'!':''" matBadgePosition="after" matBadgeColor="warn" matBadgeSize="medium" [matTooltip]="(f|async).properties[pName].comment" matTooltipPosition="above" (click)="openDialog()">
  <span *ngIf="(f|async).properties[pName].value !== null || (f|async).properties[pName].value !== ''">{{(f|async).properties[pName].value | truncate : 30}}</span>
  <span *ngIf="(f|async).properties[pName].value === null || (f|async).properties[pName].value === ''" translate>property.undefined</span>
</button>
