<button mat-stroked-button
        [matBadge]="(property.status !== OK)?'i':''"
        matBadgePosition="after"
        [matBadgeColor]="(property.status === WARN)?'warn':'primary'"
        matBadgeSize="small"
        [matTooltip]="property.comments"
        matTooltipPosition="above"
        [ngClass]="property.type === 'boolean_string'?property.value:''"
        (click)="viewProperty()">

  <ng-container *ngIf="property.value !== null">
    <span *ngIf="['string', 'number', 'url','coords'].indexOf(property.type) >= 0">{{property.value | truncate : 30}}</span>
    <span *ngIf="property.type === 'object'">{{'property.object' | translate}}</span>
    <span *ngIf="property.type === 'boolean_string'">{{property.value}}</span>
  </ng-container>

  <span *ngIf="property.value === null" translate>property.undefined</span>
</button>
