<mat-toolbar [ngClass]="{'details-mode': (mode | async)=='details'}" class="show-logo mat-elevation-z2">
  <button mat-icon-button *ngIf="mobileQuery.matches && !((showList | async) || (showMenu | async))" (click)="toggleList(true)">
    <mat-icon *ngIf="(mode | async) !== 'directions'">search</mat-icon>
    <mat-icon *ngIf="(mode | async) == 'directions'">list</mat-icon>
  </button>
  <span style="flex: 1 1 auto;"></span>


  <app-language-selector *ngIf="!mobileQuery.matches"></app-language-selector>
  <!--Right navbar close buttun to show in mobile mode when list is open or app mode is navigate or details-->
  <button *ngIf="( showList | async) || (showMenu | async)" mat-icon-button (click)="returnToRoot()">
    <mat-icon>close</mat-icon>
  </button>
  <!--Button to show sidebar menu in mobile mode-->
  <button *ngIf="!(( showList | async) || (showMenu | async))" (click)="toggleMenu(true)" mat-icon-button>
    <mat-icon>info</mat-icon>
  </button>

</mat-toolbar>
<ng-progress></ng-progress>
