<h2 mat-dialog-title>{{'dialog.property' | translate}}: {{'property.'+data.pName| translate}}</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <span class="property">{{'dialog.value' | translate}}</span>:
      <span *ngIf="p.value !== null || p.value !== ''">{{p.value}}</span>
      <span *ngIf="p.value === null || p.value === ''" translate>undefined</span>
    </mat-list-item>
    <mat-list-item>
      <span class="property" >{{'dialog.source_name' | translate}}</span>:
      <span *ngIf="p.source_name !== null || p.source_name !== ''">{{p.source_name}}</span>
      <span *ngIf="p.source_name === null || p.source_name === ''" >{{ 'undefined' | translate}}</span>
    </mat-list-item>
    <mat-list-item>
      <span class="property" >{{'dialog.source_url' | translate}}</span>:
      <span *ngIf="p.source_url !== null || p.source_url !== ''">{{p.source_url}}</span>
      <span *ngIf="p.source_url === null || p.source_url === ''" >{{'undefined' | translate}}</span>
    </mat-list-item>
    <mat-list-item>
      <span class="property" >{{'dialog.comments' | translate}}</span>:
      <span *ngIf="p.comment !== null || p.comment !== ''">{{p.comment}}</span>
      <span *ngIf="p.comment === null || p.comment === ''" >{{'none' | translate}}</span>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button (click)="openGuideSelector(data.pName)" color="primary">{{'action.modifyProp' | translate}}</button>
  <button mat-raised-button mat-dialog-close color="warn">{{'action.close' | translate}}</button>
</mat-dialog-actions>
