.property{
  font-weight: bold;
}

.value{
  color: grey;
}

:host{
  width: 300px;
}

mat-dialog-actions button, mat-dialog-actions a{
  margin-right: 10px;
}

.flex-item{
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
  height: auto !important;
}

.comment{
  border: solid lightgray 1px;
  background-color: #e5e5e5;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
}
