<div class="guide-holder">
<h2>Guide: display more than one image in a fountain's gallery</h2>
  This guide explains how to add multiple photos you own to be shown in fountain details, which is implemented with Wikimedia Commons categories. If you want to set the featured image of the fountain (the one that is shown first), then you need to follow another approach: <a href="#" (click)="openGuide('image')">add a featured image to a fountain</a>

<h3>Prerequisites</h3>
<ul>
  <li>Wikidata account (recommended but not required)</li>
  <li>Wikimedia Commons account</li>
</ul>
<h3>
1. Take your photo
</h3>
Take note of the following guidelines:
<ul>
  <li>Photos taken in landscape format are better displayed in the application</li>
  <li>Take your photo from far enough away so that the setting of the fountain is recognisable</li>
  <li>Do not include (or blur out) person-identifying information in the photo (such as identifiable faces, license plates, etc.)</li>
</ul>
<h3>2. Upload your photo</h3>
<ul>
  <li>
Follow the instructions in the Wikimedia Commons upload wizard: <a href="https://commons.wikimedia.org/wiki/Special:UploadWizard">https://commons.wikimedia.org/wiki/Special:UploadWizard</a>
  </li>
  <li>
    Alternatively, you can use the mobile application <a href="https://commons.wikimedia.org/wiki/Commons:Mobile_app">https://commons.wikimedia.org/wiki/Commons:Mobile_app</a>
  </li>
</ul>
<h3>3. Link your photo to the corresponding Wikidata page</h3>
<div *ngIf="(fountain | async).properties.id_wikidata.value === null">
  It appears that the selected fountain could not be matched with an entity in Wikidata.
  <ul>
    <li>first do a manual check that the page doesn't exist (if the coordinates are too inaccurate or if the fountain in OpenStreetMap does not link to the wikidata page, then the wikidata page cannot be matched)</li>
    <li>create the page yourself (guide to be written)</li>
  </ul>
</div>
<div *ngIf="(fountain | async).properties.id_wikidata.value !== null">
  On the fountain's <a href="//wikidata.org/wiki/{{(fountain | async).properties.id_wikidata.value}}">Wikidata page</a>, add a statement of type image and for the value, enter the name of the photo you uploaded to Wikimedia Commons (log in first if you have an account).
</div>
<h3>4. Verify your changes</h3>
Back in the fountains application, you can verify your change was successful by clicking "preview current data" at the bottom of the fountain details pane.
</div>
