<div style="margin: 30px; ">
  <img src="/assets/logo.png"> <br>
  <mat-form-field>
    <mat-select value="(lang | async)" placeholder="City">
      <mat-option value="zurich">Zurich</mat-option>
      <mat-option value="luzern">Lucerne</mat-option>
      <mat-option value="geneva">Geneva</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-divider></mat-divider>
  <mat-form-field>
    <mat-select value="(lang | async)" placeholder="Language">
      <mat-option value="FR">FR</mat-option>
      <mat-option value="DE">DE</mat-option>
      <mat-option value="EN">EN</mat-option>
    </mat-select>
  </mat-form-field>
  <h4>About this app</h4>
  <p>
    Proximap is a responsive web app for finding nearby public infrastructure, and uses drinking fountains as a showcase example. It aims to communicate data from open government data repositories and the Wikicommons websites. Check out <a href="//water-fountains.org" >water-fountains.org</a> for more information on the overall project.
  </p>
  <button mat-raised-button color="warn" (click)="toggleMenu()">close</button>
</div>

