#fountain-toolbar {
  right: 0;
  padding: 12px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

button {
  display: inline-block;
}
