.filter-holder {
  /*padding: 50px;*/
  /*align-content: center;*/
}

.filter-counter {
  color: white;
  background-color: #d9423d;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  line-height: 24px;
}

mat-expansion-panel {
  background-color: #f6f6f6;
}

.yearInput {
  background-color: white;
  border: solid #bababa 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 4em;
  text-align: center;
}

.mat-input-element {
  border-color: white;
}
