<mat-toolbar [ngClass]="{'details-mode': (mode | async)=='details'}">
  <button
    mat-icon-button
    *ngIf="!(showList | async)"
    (click)="toggleList(true)">
    <mat-icon>search</mat-icon>
  </button>
  <form *ngIf="(showList | async)">
    <mat-form-field>
      <input matInput #filtertext
             placeholder="search"
             (keyup)="applyTextFilter(filtertext.value.toLowerCase())"
             type="text">
      <span matSuffix *ngIf="filtertext.value !=''" >
        <button
          mat-icon-button
          (click)="applyTextFilter(''); filtertext.value=''">
          <mat-icon>close</mat-icon>
        </button>
      </span>
    </mat-form-field>
  </form>
  <span style="flex: 1 1 auto;"></span>
  <img class="navbar-logo" *ngIf="( mode | async) =='map' && (( showList | async) == false) || !mobileQuery.matches" src="/assets/logo.png">
  <span style="flex: 1 1 auto;"></span>


  <!-- right navbar content in desktop mode-->
  <span *ngIf="( mode | async) =='map' && !mobileQuery.matches">

    <mat-menu #langMenu="matMenu">
      <button mat-menu-item>FR</button>
      <button mat-menu-item>DE</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="langMenu">EN</button>

    <mat-menu #cityMenu="matMenu">
      <button mat-menu-item>Geneva</button>
      <button mat-menu-item>Lucerne</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="cityMenu">Zurich</button>
      <button
        mat-icon-button>
      <mat-icon>information</mat-icon>
    </button>
  </span>
  <!--Right navbar content to show in mobile mode-->
  <button
    *ngIf="(( mode | async) !='map') || ( showList | async)"
    mat-icon-button
    (click)="returnToRoot()">
    <mat-icon>close</mat-icon>
  </button>
  <!--Button to show sidebar menu in mobile mode-->
  <button *ngIf="(( mode | async)  == 'map') && !( showList | async) && this.mobileQuery.matches"
          (click)="toggleMenu()"
          mat-icon-button>
    <mat-icon>menu</mat-icon></button>

</mat-toolbar>
