<mat-toolbar [ngClass]="{'details-mode': (mode | async)=='details'}" class="show-logo">
  <button
    mat-icon-button
    *ngIf="mobileQuery.matches && !(showList | async)"
    (click)="toggleList(true)">
    <mat-icon>search</mat-icon>
  </button>
  <span style="flex: 1 1 auto;"></span>

  <!--&lt;!&ndash; right navbar content in desktop mode&ndash;&gt;-->
  <!--<span *ngIf="!mobileQuery.matches">-->

    <!--<mat-menu #langMenu="matMenu">-->
      <!--<button mat-menu-item>FR</button>-->
      <!--<button mat-menu-item>DE</button>-->
    <!--</mat-menu>-->
    <!--<button mat-button [matMenuTriggerFor]="langMenu">EN</button>-->

    <!--<mat-menu #cityMenu="matMenu">-->
      <!--<button mat-menu-item>Geneva</button>-->
      <!--<button mat-menu-item>Lucerne</button>-->
    <!--</mat-menu>-->
    <!--<button mat-button [matMenuTriggerFor]="cityMenu">Zurich</button>-->
      <!--<button-->
        <!--mat-icon-button>-->
      <!--<mat-icon>information</mat-icon>-->
    <!--</button>-->
  <!--</span>-->
  <!--Right navbar close buttun to show in mobile mode when list is open or app mode is navigate or details-->
  <button
    *ngIf="( showList | async)"
    mat-icon-button
    color="warn"
    (click)="returnToRoot()">
    <mat-icon>close</mat-icon>
  </button>
  <!--Button to show sidebar menu in mobile mode-->
  <button *ngIf="!( showList | async)"
          (click)="toggleMenu()"
          mat-icon-button>
    <!--show menu icon if-->
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
