<div class="app-holder">
  <!--App nav bar on top-->
  <app-navbar [ngClass]="{'preview-visible': (previewState | async)=='open'}"></app-navbar>
  <!--The holder for list, map, details-->
  <mat-sidenav-container (backdropClick)="closeSidebars()" class="list-map">
    <!--The list is in a side drawer-->
    <mat-sidenav
      class="list-holder list-mobile"
      [ngClass]="{'preview-visible': (previewState | async)=='open'}"
      #listDrawer
      position="start"
      [mode]="this.mobileQuery.matches ? 'over' : 'side'"
      disableClose="true"
      [opened]="this.mobileQuery.matches ? false : true">
      <app-filter *ngIf="(mode | async) !== 'directions'"></app-filter>
      <app-list *ngIf="(mode | async) !== 'directions'"></app-list>
      <app-directions *ngIf="(mode | async) == 'directions'"></app-directions>
    </mat-sidenav>
    <!-- The app information and settings sidenav-->
    <mat-sidenav
      style="max-width: 500px;"
      class="appMenu"
      #menuDrawer
      mode="over"
      disableClose="true"
      fixedInViewport=false
      position="end">
      <app-mobile-menu></app-mobile-menu>
    </mat-sidenav>
    <!--map and details in the content of the drawer-->
    <mat-sidenav-content [ngClass]="{'preview-visible': (previewState | async)=='open'}">
      <app-map
        #map
      >
      </app-map>
      <button
        mat-raised-button
        color="primary"
        (click)="closeNavigation()"
        *ngIf="(mode | async) == 'directions'"
        class="mat-elevation-z4 close-navigation">
        <mat-icon>arrow_back</mat-icon> <span translate>action.return</span>
      </button>
      <div class="detail-from-bottom"
           *ngIf="(['details'].indexOf(mode | async) > -1)">
        <div class="centering">
          <button mat-mini-fab color="warn" (click)="returnToMap()" class="mat-elevation-z4">
            <mat-icon>close</mat-icon>
          </button>
          <app-detail
          ></app-detail>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
