<div class="list-holder" (mouseleave)="highlightFountain(null)">
    <mat-card class="fountain-list-element"
        style="list-style: none;"
        disableRipple="false"
        *ngFor="let fountain of fountains | slice:0:10"
        (mouseenter)="highlightFountain(fountain)"
        (click)="selectFountain(fountain)">
      <h4>
        {{(fountain.properties.bezeichnung && fountain.properties.bezeichnung.length>27)? (fountain.properties.bezeichnung | slice:0:25)+'..':(fountain.properties.bezeichnung)}} ~{{fountain.properties.distanceFromUser*1000 | number:'1.0-0'}}m
      </h4>
      <p><span class='water-type' ngClass="{{fountain.properties.wasserart_txt}}">{{fountain.properties.wasserart_txt}}</span>, Baujahr {{fountain.properties.historisches_baujahr}}</p>
    </mat-card>
  <div class="list-end-message">
    <p>
      showing {{(fountains.length > 10) ? 10 : fountains.length}} of {{fountains.length}} fountains <br/>
      <a href="#">report a missing fountain</a>
    </p>
  </div>
</div>

