<ul (mouseleave)="highlightFountain(null)">
  <li class="fountain-list-element"
    style="list-style: none;"
    disableRipple="false"
    *ngFor="let fountain of fountains | slice:0:10; let i=index; last as last"
    (mouseenter)="highlightFountain(fountain)"
    (click)="selectFountain(fountain)">
    <h4>
      {{(fountain.properties.bezeichnung && fountain.properties.bezeichnung.length>20)? (fountain.properties.bezeichnung | slice:0:20)+'..':(fountain.properties.bezeichnung)}}
    </h4>
    <p>~{{fountain.properties.distanceFromUser*1000 | number:'1.0-0'}}m <span class='water-type' ngClass="{{fountain.properties.wasserart_txt}}">{{fountain.properties.wasserart_txt}}</span><br/>
      Baujahr: {{fountain.properties.historisches_baujahr}}</p>
    <mat-divider *ngIf="!last"></mat-divider>
  </li>
</ul>
<div style="align-content: center">
  <p>showing {{(fountains.length > 10) ? 10 : fountains.length}} of {{fountains.length}} results
  </p>
  <button class="close-fountain" mat-raised-button color="basic">report missing fountain</button>
</div>
