<!--button abosobs the focus behaviour-->

<ul (mouseleave)="highlightFountain(null)">
  <li class="fountain-list-element"
    style="list-style: none;"
    disableRipple="false"
    *ngFor="let fountain of fountains | slice:0:10; let i=index; last as last"
    (mouseenter)="highlightFountain(fountain)"
    (click)="selectFountain(fountain)">
    <h4><mat-icon>fiber_manual_record</mat-icon> {{fountain.properties.bezeichnung}} </h4>
    <p>{{fountain.properties.wasserart_txt}}<br/>{{fountain.properties.historisches_baujahr}}</p>
    <mat-divider *ngIf="!last"></mat-divider>
  </li>
</ul>
<!--todo: actually show total shown and total results-->
<!--todo: make the idicator prettier-->
showing 10 of 2400 results
