<div class="list-holder" (mouseleave)="highlightFountain(null)">
  <mat-card class="fountain-list-element" style="list-style: none;" disableRipple="false"
            *ngFor="let fountain of fountains | slice:0:10"
            (mouseenter)="highlightFountain(fountain)" (click)="dataService.selectFountainByFeature(fountain)">
    <h4>
      {{(fountain.properties['name_'+(lang|async)] | truncate)}}
      <span *ngIf="fountain.properties.distanceFromUser">~{{fountain.properties.distanceFromUser*1000 | number:'1.0-0'}}m</span>
    </h4>
    <p>
      <span class="badge" *ngIf="fountain.properties.water_type" [ngClass]="fountain.properties.water_type" >{{fountain.properties.water_type | translate}}</span>
      <span class="badge year" *ngIf="fountain.properties.construction_date">
          <span >{{fountain.properties.construction_date}}</span>
        </span>
      <span class="badge access_pet" *ngIf="fountain.properties.access_pet"><mat-icon>pets</mat-icon></span>
    </p>
  </mat-card>
  <div class="list-end-message">
    <span translate
          [translateParams]="{visible: ((fountains.length > 10) ? 10 : fountains.length), total: fountains.length}">list.showing<br/>
      <!--<a translate href="#">list.report_missing</a>-->
    </span>
  </div>
</div>
