<div class="list-holder" (mouseleave)="highlightFountain(null)">
  <mat-card class="fountain-list-element" style="list-style: none;" disableRipple="false"
            *ngFor="let fountain of fountains | slice:0:10"
            (mouseenter)="highlightFountain(fountain)" (click)="dataService.selectFountainByFeature(fountain)">
    <h4>
      <span class="badge ftn-icon potable" [ngClass]="fountain.properties.potable"></span>
      <span title="{{fountain.properties['name_'+(lang|async)]}}">{{(fountain.properties['name_'+(lang|async)] | truncate)}}</span>
      <span *ngIf="!fountain.properties.name">{{'other.unnamed_fountain' | translate}}</span>
      <span *ngIf="fountain.properties.distanceFromUser"> ~{{fountain.properties.distanceFromUser*1000 | number:'1.0-0'}}m</span>
    </h4>
    <p>
      <span class="badge year"
            *ngIf="fountain.properties.construction_date"
            title="{{'property.construction_date'| translate}}">
          <span >{{fountain.properties.construction_date}}</span>
        </span>
      <span class="badge"
            *ngIf="fountain.properties.water_type"
            title="{{'property.water_type'| translate}}">
        {{fountain.properties.water_type | translate}}
      </span>
      <span class="badge" [ngClass]="fountain.properties.access_wheelchair"
            *ngIf="fountain.properties.access_wheelchair!==null"
            title="{{'property.access_wheelchair'| translate}}"><mat-icon>accessible</mat-icon></span>
      <span class="badge"  [ngClass]="fountain.properties.access_pet"
            *ngIf="fountain.properties.access_pet!==null"
            title="{{'property.access_pet'| translate}}"><mat-icon>pets</mat-icon></span>
      <span class="badge"  [ngClass]="fountain.properties.access_bottle"
            *ngIf="fountain.properties.access_bottle!==null"
            title="{{'property.access_bottle'| translate}}"><mat-icon svgIcon="bottle"></mat-icon></span>
    </p>
  </mat-card>
  <div class="list-end-message">
    <span translate
          [translateParams]="{visible: ((fountains.length > 10) ? 10 : fountains.length), total: fountains.length}">list.showing<br/>
      <!--<a translate href="#">list.report_missing</a>-->
    </span>
  </div>
</div>
