/*.holder {*/
  /*width: 100%;*/
/*}*/

/*img.gsv {*/
  /*width: 80%;*/
/*}*/
@media (max-width: 900px){
  :host{
    padding-right:0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
  }
}

.mat-card {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75) !important;
}

mat-card-actions {
  text-align: right;
  margin: inherit;
}

mat-card-actions button{
  margin-left: 15px;
}
gallery {
  background-color: transparent;
  height: 350px;
}
.caption{
  color: white;
  font-size: 10px;
  text-shadow: 0 0 3px rgba(0,0,0,1);
  position: absolute;
  bottom:3px;
}
.caption /deep/ a {
  color: white;
}

/*wikipedia text formatting*/
.wikipedia-summary{
  white-space: pre-wrap !important;
}

.quicklink{
  font-size: 10pt;
  line-height: 13pt;
  margin-left: 0px;
  padding: 2px;
  color: darkgray;
}

.quicklink mat-icon {
  width: 11pt;
  height: 11pt;
}
/*hide overflowing table*/
.mat-expansion-panel-body{
  overflow: hidden;
}

/*some padding in the table*/
td.propName{
  padding-right: 5px;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #bababa;
}

mat-expansion-panel{
  overflow-x: auto;
}

#add-image-button {
  position: relative;
  top: -56px;
  right: 10px;
  z-index: 1;
}
