<yaga-map
  [(zoom)]="zoom"
  [(lat)]="lat"
  [(lng)]="lng"
  [(minZoom)]="mc.map.minMapZoom"
  [(maxZoom)]="mc.map.maxMapZoom"
><yaga-marker *ngFor="let fountain of dataService.filteredFountains | async" class="list-group-item"
               [(lat)]="fountain.geometry.coordinates[1]"
               [(lng)]="fountain.geometry.coordinates[0]"
               (click)="selectFountain(fountain.properties.nummer)"
  >
    <yaga-icon
      [iconUrl]="mc.fountainMarker.iconUrl"
      [iconSize]="mc.fountainMarker.iconSize"
      [iconAnchor]="mc.fountainMarker.iconAnchor"
      [shadowUrl]="mc.fountainMarker.shadowUrl"
      [shadowSize]="mc.fountainMarker.shadowSize"
      [shadowAnchor]="mc.fountainMarker.shadowAnchor"
    ></yaga-icon>
    <yaga-tooltip>{{fountain.properties.bezeichnung}}</yaga-tooltip>
  </yaga-marker>
  <yaga-tile-layer
    [(url)]="tileLayerUrl"
    (click)="deselectFountain()"
  ></yaga-tile-layer>

</yaga-map>
