.app-holder{
  display: grid;
  grid-template-areas:
    "top"
    "list-map";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  height: 100vh;
}

app-navbar{
  grid-area: top;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

mat-sidenav-container.list-map {
  grid-area: list-map;
}

.list-holder {
  width: 300px;
  display: grid;
  grid-template:
    'filter'
    'list';
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  min-height:0;
}

app-list {
  grid-area: list;
  overflow-y: auto;
}

app-filter {
  grid-area: filter;
}

app-detail {

}

/*app-detail.mobile {*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*display: block;*/
/*}*/

app-fountain-toolbar {
  padding: 0;
  right: 0;
  bottom: 80px;
  position: absolute;
  z-index: 2;
}

#detailsDrawer {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

app-map.room-for-details {
  height: 70%;
  display: block;
  position: sticky;
  top: 0;
}
