.app-holder{
  display: grid;
  grid-template-areas:
    "top"
    "map-details";
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  height: 100vh;
}

app-navbar{
  grid-area: top;
}

mat-sidenav-container {
  grid-area: map-details;
  height: 100%;
  width: 100%;
}

.list-holder {
  width: 300px;
  display: grid;
  grid-template:
    'filter'
    'list';
  grid-template-rows: auto 1fr;
  grid-gap: 0;
  min-height:0;
}

app-list {
  grid-area: list;
  overflow-y: auto;
}

app-filter {
  grid-area: filter;
}

app-detail {

}

/*app-detail.mobile {*/
  /*width: 100%;*/
  /*position: absolute;*/
  /*z-index: 1;*/
  /*display: block;*/
/*}*/

app-fountain-toolbar {
  padding: 30px;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 2;
}
