<mat-sidenav-container>
  <mat-sidenav
    #appMenuMobile
    mode="over"
    fixedInViewport=true
    position="end">
    <app-mobile-menu (menuToggle)="appMenuMobile.toggle()"></app-mobile-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-holder">
      <!--App nav bar on top-->
      <app-navbar
        (menuToggle)="appMenuMobile.toggle()"
      ></app-navbar>
      <!--The holder for list, map, details-->
      <mat-sidenav-container (backdropClick)="closeList()">
        <!--The list is in a side drawer-->
        <mat-sidenav
          class="list-holder list-mobile"
          #listDrawer
          position="start"
          [mode]="this.mobileQuery.matches ? 'over' : 'side'"
          disableClose="true"
          opened="false">
          <app-filter></app-filter>
          <app-list></app-list>
        </mat-sidenav>
        <!--map and details in the content of the drawer-->
        <mat-sidenav-content>
          <mat-sidenav-container class="map-and-details">
            <mat-sidenav
              #detailsDrawer
              position="start"
              [mode]="this.mobileQuery.matches ? 'over' : 'over'"
              disableClose="true"
              opened="false">
              <app-detail
                (closeDetails)="detailsDrawer.close()"
              ></app-detail>
            </mat-sidenav>
            <mat-sidenav-content>
              <app-map #map >
              </app-map>
              <app-fountain-toolbar
                *ngIf="(['details', 'directions'].indexOf(mode | async) > -1)"
                (detailsToggle)="detailsDrawer.toggle()"
              ></app-fountain-toolbar>
            </mat-sidenav-content>

          </mat-sidenav-container>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
