/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
/*import Angular icons*/
@import "//fonts.googleapis.com/icon?family=Material+Icons";
/*gallery*/
@import '~@ngx-gallery/core/styles/css/gallery.css';
@import '~@ngx-gallery/core/styles/css/lightbox.css';

/* Fix for ngx-gallery*/
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}
/*fix so that ngx-gallery is above sidenav and navbar*/
/*@media (min-width: 900px) {*/
  /*mat-sidenav {*/
    /*z-index: 1 !important;*/
  /*}*/
/*}*/
/*app-navbar{*/
  /*z-index: 1 !important;*/
/*}*/
/*app-mobile-menu{*/
  /*z-index: 1 !important;*/
/*}*/

/* Tags for water type*/
span.badge {
  background-color: #585858;
  border-radius: 5px;
  padding: 4px;
  color: white;
}
span.badge mat-icon{
  font-size: 1em;
  height: 1em;
  width: 1em;
}

span.badge.springwater {
  background-color: #017eac;
}
span.badge.tapwater {
  background-color: #014b62;
}
span.badge.unavailable {
  display: none;
  background-color: #014b62;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mapboxgl-user-location-dot {
  background-color: rgba(165, 74, 178, 0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
}

.mapboxgl-user-location-dot::before {
  background-color: #a54ab2;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: mapboxgl-user-location-dot-pulse 2s infinite;
  -moz-animation: mapboxgl-user-location-dot-pulse 2s infinite;
  -ms-animation: mapboxgl-user-location-dot-pulse 2s infinite;
  animation: mapboxgl-user-location-dot-pulse 2s infinite;
}

.mapboxgl-user-location-dot::after {
  border-radius: 50%;
  border: 2px solid #fff0;
  content: '';
  height: 19px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 19px;
  box-sizing: border-box;
}
