/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
/*import Angular icons*/
@import "//fonts.googleapis.com/icon?family=Material+Icons";

/* Fix for ngx-gallery*/
.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}
/*fix so that ngx-gallery is above sidenav and navbar*/
@media (min-width: 900px) {
   .list-holder.preview-visible {
    z-index: 1 !important;
  }
}
app-navbar.preview-visible{
  z-index: 1 !important;
}
.mat-drawer-content.preview-visible{
  overflow: hidden;
}

/* Tags for water type*/
.badge {
  position: relative;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 4px;
  margin-right: 4px;
  font-size: 0.8em;
  color: #3c3c3c;
  border: solid 1px #3c3c3c;
}

.badge.undefined {
  color: #777777;
  border: solid 1px #777777;
}

.badge.icon-small {
  display: inline-block;
  text-align: center;
}

.badge mat-icon{
  font-size: 1em;
  height: 1em;
  width: 1em;
  vertical-align: sub;
}

.ftn-icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 1em;
  margin-right: 3px;
}


.potable {
  background-color: #7c7c7c;
  border-color: #f6f6f6;
}
.potable.yes {
  background-color: #017eac;
}
.potable.no {
  background-color: #1b1b1b;
}

.badge.no:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 2px solid;
  border-color: red;

  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  -o-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.badge.undefined:before {
  position: absolute;
  content: "?";
  top: 0px;
  right: 0;
}
.badge.potable.undefined:before {
  color: white;
}

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mapboxgl-user-location-dot {
  background-color: rgba(165, 74, 178, 0);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0);
}

.mapboxgl-user-location-dot::before {
  background-color: #a54ab2;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: mapboxgl-user-location-dot-pulse 2s infinite;
  -moz-animation: mapboxgl-user-location-dot-pulse 2s infinite;
  -ms-animation: mapboxgl-user-location-dot-pulse 2s infinite;
  animation: mapboxgl-user-location-dot-pulse 2s infinite;
}

.mapboxgl-user-location-dot::after {
  border-radius: 50%;
  border: 2px solid #fff0;
  content: '';
  height: 19px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 19px;
  box-sizing: border-box;
}
