
/*########################################################*/


/*########################################################*/

html { 
  background: url('image.png') no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}